<header class="header">
  <div class="logo">
    <a [routerLink]="['/home']" routerLinkActive="router-link-active"
      ><img src="../../assets/images/headerlogo.png" alt="Logo" class="img"
    /></a>
  </div>
  <nav class="navbar" *ngIf="isLoggedIn" >
    <ul class="navbar-list">
      <li class="navbar-item" *ngIf="isAdmin && !isStudent">
        <a routerLink="/" routerLinkActive="active">Teacher View</a>
      </li>
      <li class="navbar-item" *ngIf="!isStudent">
        <a routerLink="/student-view" routerLinkActive="active">Student View</a>
      </li>
      <li class="navbar-item" *ngIf="!isStudent">
        <a routerLink="/class-view" routerLinkActive="active">Class View</a>
      </li>
      <li class="navbar-item" *ngIf="isAdmin && !isStudent">
        <a routerLink="/audit-log" routerLinkActive="active">Audit Log</a>
      </li>
      <li class="navbar-item" *ngIf="!isStudent">
        <a routerLink="/ai-tools" routerLinkActive="active">AI Tools</a>
      </li>
      <li class="navbar-item" *ngIf="isStudent">
        <a routerLink="/feedback" routerLinkActive="active">Feedback</a>
      </li>
      <li class="navbar-item" *ngIf="isAdmin">
        <a routerLink="/feedback-view" routerLinkActive="active">Feedback</a>
      </li>
      <!-- <li class="navbar-item">
        <a routerLink="/view-staff" routerLinkActive="active">View Staff</a>
      </li> -->
      <!-- <li>
        <a routerLink="/add-student" routerLinkActive="active">Add Student</a>
      </li> -->
      <li class="navbar-item">
        <a mat-button [matMenuTriggerFor]="menu"><mat-icon class="user-profile-icon">account_circle</mat-icon></a>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="logout()" >Logout</button>
        </mat-menu>
      </li>
    </ul>
  </nav>
</header>
