<header class="header">
  <div class="logo">
    <a [routerLink]="['/home']" routerLinkActive="router-link-active"
      ><img src="../../assets/images/headerlogo.png" alt="Logo" class="img"
    /></a>
  </div>
  <nav class="navbar" *ngIf="isLoggedIn">
    <ul class="navbar-list">
      <li class="navbar-item">
        <a routerLink="/" routerLinkActive="active">Home</a>
      </li>
      <li class="navbar-item">
        <a routerLink="/add-staff" routerLinkActive="active">Add Staff</a>
      </li>
      <li class="navbar-item">
        <a routerLink="/audit-log" routerLinkActive="active">Audit Log</a>
      </li>
      <li class="navbar-item">
        <a routerLink="/ai-tools" routerLinkActive="active">AI Tools</a>
      </li>
      <li class="navbar-item">
        <a routerLink="/tasks" routerLinkActive="active">Tasks</a>
      </li>
      <!-- <li class="navbar-item">
        <a routerLink="/view-staff" routerLinkActive="active">View Staff</a>
      </li> -->
      <!-- <li>
        <a routerLink="/add-student" routerLinkActive="active">Add Student</a>
      </li> -->
      <li class="navbar-item">
        <a mat-button [matMenuTriggerFor]="menu"><mat-icon class="user-profile-icon">account_circle</mat-icon></a>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="logout()" >Logout</button>
        </mat-menu>
      </li>
    </ul>
  </nav>
</header>
