@import '../../assets/styles/palette.scss';
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    background-color: map_get($colors, lf-bg);
    color: white;
  
    .school-logo {
      img{
        width: 5rem;
      }
      margin-right: 8px;
    }
  
    .school-name {
      font-size: 9px;
    }
  }
  