<div class="home-section">
    <div class="section1">
      <div class="background-image">
        <img
          src="../../assets/images/backdrop.png"
          alt="School Background Image"
        />
      </div>
      <div class="display-card">
        <div class="card-item">
            <h5>Welcome {{username | titlecase }}!</h5>
        </div>
      </div>
    </div>
    <div class="section2">
        
      <div class="search-bar">
        <mat-form-field appearance="outline">
          <mat-icon matPrefix>search</mat-icon>
          <input (input)="onType()" [(ngModel)]="searchStudent" matInput placeholder="Search for a student" />
        </mat-form-field>
        <button mat-raised-button  routerLink="/add-student">
        Add Students
        </button>
      </div>
    </div>
    <div>
      <ag-grid-angular
        width="100"
        style="height: 450px"
        class="ag-theme-material"
        [rowData]="rowData"
        [columnDefs]="columnDefs"
        [suppressHorizontalScroll]="false"
        [groupSelectsChildren]="true"
        [rowGroupPanelShow]="'always'"
        [isRowSelectable]="isRowSelectable"
        [statusBar]="statusBar"
        [pagination]="true"
         
        (gridReady)="onGridReady($event)"
        (cellClicked)="onSelectionChanged($event)"
      >
      </ag-grid-angular>
    </div>
  </div>
  