<div class="view-staff" autoscroll="true">
    <div class="flex-right">
        <a mat-raised-button routerLink="/home">Back</a>
    </div>
    <div class="avatar">
        <igx-avatar icon="person" shape="circle" size="medium"></igx-avatar>
    </div>
    <h2>{{staffName}}</h2>
    <div class="staff-details">
        <div class="staff-field">Primary Contact Number: <span>{{primaryContactNum}}</span></div>
        <div class="staff-field">Secondary Contact Number: <span>{{secondaryContactNum}}</span> </div>
        <div class="staff-field">Email: <span>{{staffEmail}}</span></div>
        <div class="staff-field">Whatsapp Contact Number: <span>{{staffWAnum}}</span></div>
        <div class="staff-field">Address: <span>{{staffAddress}}</span></div>

    </div>
</div>