<div class="home-section">
  <div class="section1">
    <div class="background-image">
      <img
        src="../../assets/images/backdrop.png"
        alt="School Background Image"
      />
    </div>
    <div class="display-card">
      <div class="card-item">
        <span class="label">Teachers</span>
        <span class="number">{{teachersCount}}</span>
      </div>
      <div class="card-item">
        <span class="label">Students</span>
        <span class="number">{{studentsCount}}</span>
      </div>
      <div class="card-item">
        <span class="label">Classes</span>
        <span class="number">{{classCount}}</span>
      </div>
    </div>
  </div>
  <div class="section2">
    <div class="search-bar">
      <mat-form-field appearance="outline">
        <mat-icon matPrefix>search</mat-icon>
        <input matInput placeholder="Search for a teacher" [(ngModel)]="staffSearch" (input)="onType()"/>
      </mat-form-field>
      <!-- <input type="file" (change)="onFileChange($event)" accept=".csv"/>
      <button mat-raised-button (click)="uploadCSV()">
        Upload CSV
      </button> -->
     <!-- <input type="file" name="file" class="custom-file-input" id="inputGroupFile" required (change) = "csvImport($event)"
     accept=".csv, application/vnd.
      openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel">   -->
      <input type="file" #fileInput style="display: none" (change)="csvImport($event)" accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel">
  <button mat-raised-button style="margin-right: 10px;" (click)="fileInput.click()">Upload CSV</button>
      <button mat-raised-button  routerLink="/add-staff">
        Add Staff
        </button>
    </div>
  </div>
  <div>
    <ag-grid-angular
      width="100"
      style="height: 450px"
      class="ag-theme-material"
      [rowData]="rowData"
      [columnDefs]="columnDefs"
      [suppressHorizontalScroll]="false"
      [groupSelectsChildren]="true"
      [isRowSelectable]="isRowSelectable"
      [rowSelection]="'single'"
      (cellClicked)="onSelectionChanged($event)"
      [rowGroupPanelShow]="'always'"
      [cacheQuickFilter]="true"
      [statusBar]="statusBar"
      [pagination]="true"
      (gridReady)="onGridReady($event)"
    >
    </ag-grid-angular>
  </div>
</div>
